body{
    background: #000000;
    color: #ffffff;
    text-align: center;
}
h1{
    font-size: 60px;
}
button{
    padding: 6px 20px;
    background: #2396bd;
    border: 1px solid #fff;
    color: #fff;
    font-size: 26px;
    margin: 10px;
    cursor: pointer;
    border-radius: 20px;
    transition: .5s;
}

button:hover{
    background: transparent;
    color: #2396bd;
    border: 1px solid #2396bd;
    border-radius: 0;
}